<% if params[:type] == 'prototype' %>
  <%= javascript_include_tag 'prototype', 'prototype_nested_form' %>
<% else %>
  <%= javascript_include_tag 'jquery', 'jquery_nested_form' %>
<% end %>

<% if params[:layout] == 'tabular' %>

  <%= nested_form_for @project do |f| -%>
    <%= f.text_field :name %>
    <table class="tasks">
      <%= f.fields_for :tasks do |ff| -%>
        <td><%= ff.text_field :name %></td>
        <td><%= ff.link_to_remove 'Remove' %></td>
      <% end -%>
    </table>
    <%= f.link_to_add 'Add new task', :tasks, :container=>'table.tasks', :fields_element=>'tr' %>
  <% end -%>

<% else %>

  <%= nested_form_for @project do |f| -%>
    <div class="tasks">
      <%= f.text_field :name %>
      <%= f.fields_for :tasks do |ff| -%>
        <%= ff.text_field :name %>
        <%= ff.link_to_remove 'Remove' %>
      <% end -%>
      <%= f.link_to_add 'Add new task', :tasks %>
    </div>
  <% end -%>

<% end %>
